/* 너비 : 1920
   높이 : 1280
*/

/* 전체영역 */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 박스 영역은 테두리까지 */
}
/* 바디 */
.container 
{
    margin: 0 auto; /* 중앙 */
    width: 1280px;
    height: 1024px;
}
















